.default{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#Sai {
    vertical-align: top;
    padding-right: 25%;
    padding-left: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 50px;
}

.child5 {
    margin-left: auto;
    padding-right: 10px;
    margin-right: 50px;
}

.subcenter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    padding-left: 80px;
}

#SignUp {
    background-color: rgb(0, 103, 94);
    color: white;
    padding: 8px;
    border: none;
    border-radius: 16px;
}

#SignUp:hover {
    cursor: pointer;
    opacity: 0.8;
}

.Home {
    background-color: white;
    border: none;
    font-size: 14px;
    border-radius: 20px;
    padding: 8px;
    transition: background-color 0.50s;
}

.Home:hover {
    background-color: rgb(213, 213, 213);
    cursor: pointer;
}

#quote {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    margin-bottom: 15px;
}

#highlight{
    color: rgb(0, 68, 68);
}

#subquote {
    text-align: center;
    color: rgb(123, 123, 123);
}


#Get-Started {
    background-color: rgb(0, 103, 94);
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

#Try-Demo {
    background-color: rgb(215, 215, 215);
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: rgb(0, 103, 94);
    font-weight: 700;
    cursor: pointer;
}

.secbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.both:hover {
    opacity: 0.8;

}

.review {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: #FFD700;
}

.num {
    color: black;
    font-size: 12px;
    margin-left: 8px;
    margin-top: 3px;

}

.img1 {
    height: 280px;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease-out;
}

.sqamain {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 24px;

}

.sqa1 {
    background-color: rgb(0, 68, 68);
    height: 180px;
    width: 140px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    color: white;
    transition: all 0.3s ease-out;
}

#num1 {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 0;
}

.para {
    font-size: 8px;
    font-weight: 20;
    text-align: center;
    margin-top: 0;
}

.sqa2 {
    background-color: rgb(245, 245, 245);
    height: 140px;
    width: 180px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    transition: all 0.3s ease-out;
}

#Projects{
    margin: 0;
    margin-left: 16px;
    opacity: 0.8;

}

#num2{
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    margin-left: 16px;
    margin-top: 8px;
}

#subtag{
    margin: 0;
    font-size: 10px;
    margin-left: 16px;
    opacity: 0.8;
    margin-top: 2px;
}
.sqa3 {
    background-color: rgb(195, 255, 156);
    height: 180px;
    width: 140px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease-out;
}

#num3{
    margin: 0;
    font-size: 80px;
}

#years{
    margin: 0;
    font-size: 10px;
    font-weight: 500;
    opacity: 0.8;
}

.sqa4 {
    background-color: rgb(0, 68, 68);
    height: 280px;
    width: 190px;
    border: none;
    border-radius: 20px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    transition: all 0.3s ease-out;
    }

.material-symbols-outlined{
    margin: 0;
    color: whitesmoke;
    
}

.speed-para{
    margin: 0;
    color: whitesmoke;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 35px;
    opacity: 0.9;
}

.sqa1:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.sqa2:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.sqa3:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.sqa4:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.img1:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.second-page{
    height: auto;
    width: 100%;
    background-color: #142f32;
    margin-top: 80px;
}

.container{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 320px 320px;
    gap: 25px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    padding-top: 80px;
    padding-bottom: 90px;
    overflow: hidden;
}

.second-page-header{
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 0;
}

.second-page-subheader{
    text-align: center;
    color: whitesmoke;
    margin-top: 25px;
    opacity: 0.8;
    font-size: 14px;
}

.box1{
    background-color:  #214d51;
    width: 400px;
    height: 320px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    transition: all 0.2s ease-out;
}

.heading1{
    color: whitesmoke;
    font-size: 25px;
    margin: 0;
    font-weight: 500;
    margin-left: 25px;
}

.heading2{
    color: whitesmoke;
    font-size: 14px;
    margin-bottom: 50px;
    margin-left: 25px;
    opacity: 0.8;
}

.material-symbols-outlined{
    text-align: right;
    margin-bottom: 145px;
    margin-right: 20px;
    margin-top: 20px;
}

.box2{
    background-color:  #214d51;
    width: 400px;
    height: 320px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    transition: all 0.2s ease-out;
}

.heading1{
    color: whitesmoke;
    font-size: 25px;
    margin: 0;
    font-weight: 500;
    margin-left: 25px;
}

.heading2{
color: whitesmoke;
    font-size: 14px;
    margin-bottom: 50px;
    margin-left: 25px;
    opacity: 0.8;

}

.box3{
    background-color:  #214d51;
    width: 400px;
    height: 320px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    transition: all 0.2s ease-out;
}

.box4{
    background-color:  #214d51;
    width: 400px;
    height: 320px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    transition: all 0.2s ease-out;
}

.box5{
    background-color:  #214d51;
    width: 400px;
    height: 320px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    transition: all 0.2s ease-out;
}

.box6{
    background-color:  #214d51;
    width: 400px;
    height: 320px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    transition: all 0.2s ease-out;
}

.box1:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.third-page{
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.sec-first-container{
    background-color: rgb(223, 223, 223);
    width: 550px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
}

.asset3{
    height: 600px;
    width: 580px;
    object-fit: cover;
}

.sec-sec-container{
    background-color: rgb(255, 255, 255);
    height: 600px;
    width: auto;
    border-radius: 20px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    
}

.third-page-heading{
font-size: 32px;
font-weight: bold;
margin-bottom: 0;
}

.third-page-sub{
color: rgb(49, 49, 49);
}

.third-page-sub2{
    font-weight: bold;
margin-bottom: 0;
}

.third-page-sub22{
    color: rgb(49, 49, 49);
}

.fourth-page{
    background-color: #000000;
    height: auto;
    width: 100%;
}

.fourth-main{
    text-align: center;
    color: whitesmoke;
    margin-top: 50px;
    font-weight: lighter;
    letter-spacing: 0.8px;
    font-size: 60px;
    margin-bottom: 0;
}

.fourth-sub{
    text-align: center;
    color: whitesmoke;
    font-size: 15px;
    margin-top: 35px;
}

.fourth{
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 80px;
    margin-left: 20px;
}

.fourth-container1{
    width: 520px;
    height: 600px;
    background-color:  rgb(49, 49, 49);
    border-radius: 20px;
}

.fourth-container2{
    width: 520px;
    height: 600px;
    background-color:  rgb(49, 49, 49);
    border-radius: 20px;
}

.fourth1{

    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-container3{
    width: 1110px;
    height: 300px;
    background-color: #214d51;
    border: none;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}

.head-fourth{
    margin: 0;
    color: whitesmoke;
    font-size: 25px;
}

.sub-fourth{
    color: whitesmoke;
    opacity: 0.8;
    font-weight: lighter;
}

.fourth-button{
    width: 150px;
    height: 35px;
    background-color: #E3ffcc;
    border: none;
    border-radius: 20px;
    color: #214d51;
    font-weight: bold;
    margin-top: 20px;
    transition: all 0.3s ease-out;
}

.fourth-button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.fourth-container1-sub{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fourth-container1-header{
    color: whitesmoke;
    font-size: 40px;
    margin-bottom: 0;
}

.fourth-container1-sub-header{
    color: whitesmoke;
    opacity: 0.8;
    font-size: 14px;
}

.pricing-month{
    display: flex;
    gap: 4px;
}

.thirty-Nine{
    font-size: 40px;
    color: whitesmoke;
}

.month{
    margin-top: 60px;
    color: whitesmoke;
    opacity: 0.8;
    margin-left: 8px;
}

.button4{
    background-color: rgb(49, 49, 49);
    color: whitesmoke;
    letter-spacing: 0.8px;
    width: 390px;
    height: 45px;
    font-size: 18px;
    border-radius: 20px;
    border-width: 2px;
    border-color: #E3ffcc;
    transition: background-color 0.3s ease-out;
}

.button4:hover{
    background-color: #E3ffcc;
    color: rgb(49, 49, 49);
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.fourth-container-sub2{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.features{
    margin-left: 60px;
    margin-top: 40px;
    color: whitesmoke;
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.fourth-container-sub2-list{
    margin-left: 60px;
    line-height: 10px;
    color: whitesmoke;
    font-size: 18px;
    opacity: 0.8;
}

.fourth-container2-sub{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fourth-container2-header{
    color: whitesmoke;
    font-size: 40px;
    margin-bottom: 0;
}

.fourth-container2-sub-header{
    color: whitesmoke;
    opacity: 0.8;
    font-size: 14px;
}

.pricing-month2{
    display: flex;
    gap: 4px;
}

.ninty-Nine{
    font-size: 40px;
    color: whitesmoke;
}

.month2{
    margin-top: 60px;
    color: whitesmoke;
    opacity: 0.8;
    margin-left: 8px;
}

.button24{
    background-color: rgb(49, 49, 49);
    color: whitesmoke;
    letter-spacing: 0.8px;
    width: 390px;
    height: 45px;
    font-size: 18px;
    border-radius: 20px;
    border-width: 2px;
    border-color: #E3ffcc;
    transition: background-color 0.3s ease-out;
}

.button24:hover{
    background-color: #E3ffcc;
    color: rgb(49, 49, 49);
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.fourth-container-sub21{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.features2{
    margin-left: 60px;
    margin-top: 40px;
    color: whitesmoke;
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.fourth-container-sub21-list{
    margin-left: 60px;
    line-height: 10px;
    color: whitesmoke;
    font-size: 18px;
    opacity: 0.8;
}

.page-five{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.page-five-section1{
    width: 50%;
    height: auto;

}

.head-fifth{
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.sub-fifth{
    margin-right: 20px;
    opacity: 0.8;
}

.work{
    background-color: #E3ffcc;
    color: #142f32;
    border: none;
    margin-top: 20px;
    height: 60px;
    width: 120px;
    border-radius: 20px;
    font-size: 15px;
    transition: all 0.3s ease-out;
}

.work:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color:#142f32;
    color: #E3ffcc;
}

.img2{
    border-radius: 20px;
}

.page-six{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.section1{
    background-color: #214d51;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

.six-header{
    color: whitesmoke;
    font-size: 40px;
    margin-bottom: 0;
    font-weight: 500;
    margin-top: 0;
}

.six-sub{
    color: whitesmoke;
    font-weight:10;
    opacity: 0.8;
    margin-top: 30px;
    margin-bottom: 10px;
}

.work1{
    background-color: #E3ffcc;
    color: #142f32;
    border: none;
    margin-top: 20px;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-size: 15px;
    transition: all 0.3s ease-out;
}

.work1:hover{
    background-color:#142f32;
    color: #E3ffcc;
    cursor: pointer;
   opacity: 0.9;
   border-color: #E3ffcc;
   border-width: 1.5px;
   border-style: solid;
}

.section2{
    background-color: #000000;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 40px;
}



.footer1{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
   gap: 10px;
   
}

.footer2{
    display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   gap: 20px;
}

.footer3{
    display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   gap: 20px;
}

.footer4{
    display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
   gap: 20px;
}

.footer5{
    display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   gap: 20px;
}

.footer-head{
    color: whitesmoke;
    margin: 0;

}

.footer-subject{
    color: whitesmoke;
    margin: 0;
    opacity: 0.8;
    font-weight: 10;
}

.head-six{
    color: whitesmoke;
    margin: 0;
}

.sub-six{
    color: whitesmoke;
    margin: 0;
    opacity: 0.8;
    font-weight: 10;
}

.footer-sub{
    border-top: solid 1px rgb(53, 53, 53);
    width: 1246px;
    height: auto;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.rest{
    color: rgb(133, 133, 133);
    margin-top: 35px;
    
}